@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>What are you doing on this page? You weren't supposed to look here. Go back to your starships!'</p>
